/* small 450px */

@media (max-width: 449px){
    .container{
        width:100%;
    }
}

/* Mobile */
@media (min-width: 450px){
    .container{
        width:420px;
    }
}

@media (min-width: 650px){
    .container{
        width:620px;
    }
}

/* Small */
@media (min-width: 768px){
    .container{
        width:738px;
    }
}

/* Medium */
@media (min-width: 992px){
    .container{
        width:962px;
    }
}

/* Large */
@media (min-width: 1200px){
    .container{
        width:1170px;
    }
}
